<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '660px', 'margin-top':'2em'}" [numVisible]="6"
    thumbnailsPosition="right" verticalThumbnailViewPortHeight="504px" [showItemNavigators]="true"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item" style="height: 600px; width: 800px; display: block;" (click)="full = true"/>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item" style="height: 60px; width: 80px;"/>
        </div>
    </ng-template>
</p-galleria>

<!-- FULLSCREEN -->
<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '660px', 'margin-top':'2em'}" [numVisible]="6"
    thumbnailsPosition="right" verticalThumbnailViewPortHeight="504px" [showItemNavigators]="true" [baseZIndex]="100000" [fullScreen]="true" [(visible)]="full"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item" style="height: 600px; width: 800px; display: block;"/>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item" style="height: 60px; width: 80px;"/>
        </div>
    </ng-template>
</p-galleria>
