<div class="grid p-fluid">
    <div id="popup" style="background-color: red; height: 10px; width: 10px;"></div>
    
    <div class="col-12">
        <div id="map" class="map"></div>
    </div>

    <div class="col-12">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '100%', 'min-width': '100%'}" [numVisible]="isMobile ? 2 : 6" [showItemNavigators]="true"> 
            <ng-template pTemplate="item" let-item>
                <img [src]="item" [class]="isMobile ? 'img-sm' : 'img-lg'"/>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item" style="height: 60px; width: 80px;"/>
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <!-- md:col-4 lg:col-4  -->
    <div class="col-12 description-all">
        <h1 class="title">
            {{ obj?.title }}
        </h1>
        <div class="description ql-editor">
            <div [innerHTML]="obj && obj.description ? (obj.description | safeHtml) : ''">

            </div>
        </div>
        <div class="price">
            R${{ obj?.price }}
        </div>
    </div>
</div>

<div class="bt-whatsapp" title="Entrar em contato" (click)="sendMessage()">
    <div class="icon-whatsapp">
        <i class="pi pi-whatsapp"></i>
    </div>
</div>
