.main-img-galleria {
    width: 100%;
    display: block;
}

.img-lg {
    min-height: 500px;
    max-height: 500px;

    @extend .main-img-galleria
}

.img-sm {
    min-height: 300px;
    max-height: 300px;

    @extend .main-img-galleria
}

.description-all {
    .title {
        text-align: center;
    }

    .content-description {
        background-color: #e5e5e5;
        border-radius: 10px;

        .description {
            height: auto !important;
            font-size: 18px;
        }
    }

    .price {
        text-align: end;
    }
}

.bt-whatsapp {
    position: fixed;
    bottom: 6.5rem;
    right: 1.4rem;
    z-index: 99990;
    cursor: pointer;

    .icon-whatsapp {
        background: #00e676;
        color: white;
        padding: 15px 16px;
        border-radius: 100%;
    
        i {
            font-size: 20px;
        }

        &:hover {
            background: #00a884;
            i {
                transition: font 0.3s ease;
                font-size: 25px;
            }
        }
    }
}

.bt-maps {
    position: fixed;
    bottom: 11.5rem;
    right: 1.4rem;
    z-index: 99990;
    cursor: pointer;

    .icon-maps {
        background: #4070e4;
        // background-image: radial-gradient(#d32e29, #4070e4, #4d81ef, #e5b12a, #5da34d);
        color: white;
        padding: 15px 16px;
        border-radius: 100%;
    
        i {
            font-size: 20px;
        }

        &:hover {
            background: #345ec3;
            i {
                transition: font 0.3s ease;
                font-size: 25px;
            }
        }
    }
}
