.main-router-outlet {
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.main-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .p-toolbar {
        border: 0px solid #dee2e6 !important;
        display: block !important;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

// @media screen and (min-width: 992px) {
//     .container {
//         max-width: 940px;
//     }
// }

// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 720px;
//     }
// }

// @media screen and (min-width: 544px) {
//     .container {
//         max-width: 576px;
//     }
// }

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-footer {
    .p-toolbar {
        border: 0px solid #dee2e6 !important;
        display: block !important;
    }
}

.bt-whatsapp {
    position: fixed;
    bottom: 6rem;
    right: 1.4rem;
    z-index: 99990;
    cursor: pointer;

    .icon-whatsapp {
        background: #00e676;
        color: white;
        padding: 15px 16px;
        border-radius: 100%;
    
        i {
            font-size: 20px;
        }

        &:hover {
            background: #00a884;
            i {
                transition: font 0.3s ease;
                font-size: 25px;
            }
        }
    }
}