.main-router-outlet {
    padding-top: 12rem;
    margin-bottom: 3rem;
    padding-bottom: 8rem;
}

.main-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .p-toolbar {
        border: 0px solid #dee2e6 !important;
        display: block !important;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .container-toolbar {
        max-width: 1150px;
    }
}

// @media screen and (min-width: 992px) {
//     .container {
//         max-width: 940px;
//     }
// }

// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 720px;
//     }
// }

// @media screen and (min-width: 544px) {
//     .container {
//         max-width: 576px;
//     }
// }

.container-toolbar {
    .toolbar-right {
        .vertical-detail {
            float: right;
            background-color: #054185;
            width: 0.2rem;
            height: 100%;
        }
    }

    @extend .container
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 17px;
    padding-right: 17px;
}

.main-footer {
    .p-toolbar {
        border: 0px solid #dee2e6 !important;
        display: block !important;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .footer-right {
        float: right;
        text-align: center;

        .undcon-info {
            cursor: pointer;
        }
    }
}

.main-logo {
    width: 135px;
    cursor: pointer;
}