<p-toolbar class="main-toolbar">
  <div class="container-toolbar grid p-fluid">
    <div class="col-6">
      <img _ngcontent-cjy-c165="" src="../assets/logo/blue-sm.png" alt="Blue T-Shirt" class="main-logo" (click)="openHome()">
    </div>
    <div class="col-6 toolbar-right">
      <div class="vertical-detail"></div>
    </div>
  </div>
</p-toolbar>

<div class="main-router-outlet">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<p-toolbar class="main-footer">
  <div class="grid p-fluid">
    <div class="col-6">
    </div>
    <div class="col-6">
      <div class="footer-right">
        <div (click)="openUndcon()" class="undcon-info">
          Desenvolvido por: <img _ngcontent-cjy-c165="" src="../assets/undcon/preto.svg" alt="Blue T-Shirt">
        </div>
      </div>
    </div>
  </div>
</p-toolbar>

<p-scrollTop></p-scrollTop>
