<p-dataView [value]="announcements" [paginator]="true" [rows]="5" [totalRecords]="totalItems" [lazy]="true" *ngIf="!loading"
        layout="grid" [showFirstLastIcon]="false" styleClass="data-view-pager-style" (onLazyLoad)="onLoadData($event)">
    <ng-template let-announcement pTemplate="listItem">
        <div class="col-12">
            <div class="product-list-item">
                <div class="product-list-detail">
                    <div class="product-name">{{announcement.title}}</div>
                    <div class="product-description">{{announcement.district}} - {{announcement.city?.name}} ({{announcement.state?.name}})</div>
                    <!-- <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span> -->
                </div>
                <div class="product-list-action">
                    <span class="product-price">R${{announcement.price}}</span>
                    <!-- <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button> -->
                    <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-announcement pTemplate="gridItem">
        <div class="col-12 md:col-4">
            <div class="product-grid-item card">
                <div class="product-grid-item-top">
                    <!-- <div>
                        <i class="pi pi-tag product-category-icon"></i>
                        <span class="product-category">{{announcement.category}}</span>
                    </div> -->
                    <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                </div>
                <div class="product-grid-item-content">
                    <img _ngcontent-cjy-c165="" [src]="announcement.frontCoverUrl" alt="Blue T-Shirt">
                    <div class="product-name">{{announcement.title}}</div>
                    <div class="product-description">{{announcement.district}} - {{announcement.city?.name}} ({{announcement.state?.name}})</div>
                </div>
                <div class="product-grid-item-bottom">
                    <span class="product-price">R${{announcement.price}}</span>
                    <p-button icon="pi pi-eye" (onClick)="openDetail(announcement)"></p-button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

<div class="grid" *ngIf="loading">
    <div class="col-12 md:col-4 md:pr-4" *ngFor="let x of skeletonArray">
        <div class="product-grid-item card ">
            <div class="custom-skeleton p-4">
                <div class="flex mb-3">
                    <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                    <div>
                        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                        <p-skeleton height=".5rem"></p-skeleton>
                    </div>
                </div>
                <p-skeleton width="100%" height="150px"></p-skeleton>
                <div class="flex justify-content-between mt-3">
                    <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    <p-skeleton width="4rem" height="2rem"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>
