<p-panel [showHeader]="false">
    <div class="grid p-fluid">
        <div class="col-12 md:col-3 field">
            <label for="type">Localização</label>
            <p-dropdown [options]="cities" styleClass="w-full" emptyFilterMessage="Nenhum resultado encontrado" emptyMessage="Nenhum resultado encontrado" [(ngModel)]="filters.selectedCity" [filter]="true" filterBy="name" [showClear]="true" placeholder="Selecione a cidade">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="filters.selectedCity">
                        <div>{{filters.selectedCity.name}} - {{filters.selectedCity.state}}</div>
                    </div>
                </ng-template>
                
                <ng-template let-city pTemplate="item">
                    <div>{{city.name}} - {{city.state}}</div>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="col-12 md:col-3 field">
            <label for="type">Tipo</label>
            <p-multiSelect inputId="type" [options]="types" emptyMessage="Nenhum tipo encontrado" [(ngModel)]="filters.selectedTypes" defaultLabel="Selecione o tipo" optionLabel="name" selectedItemsLabel="{0} tipos selecionados" [showHeader]="false"></p-multiSelect>
        </div>

        <div class="col-12 md:col-3 md:pr-3 field">
            <label for="moneyValues">Faixa de Preço</label>
            <div id="moneyValues" class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <p-inputNumber [(ngModel)]="filters.minValue" mode="currency" currency="BRL" placeholder="Valor Min.">
                    </p-inputNumber>
                </div>
                <div class="col-12 md:col-6">
                    <p-inputNumber [(ngModel)]="filters.maxValue" mode="currency" currency="BRL" placeholder="Valor Máx.">
                    </p-inputNumber>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-3">
            <p-button label="Buscar" icon="pi pi-search" styleClass="p-button-rounded btn-search" (onClick)="onSearch()"></p-button>
        </div>
    </div>
</p-panel>
        
<div style="margin-top: 2rem;">
    <ad-pager></ad-pager>
</div>
